
p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.vedio-Title{
    font-weight: bold;
    font-size: 25px;
    width: 400px; 
    line-height: 30px;
    margin-bottom: 5px; 
}

.vedio-status{
    font-size: 14px;
    color: rgb(77, 73, 69);
    margin-bottom: 20px;
}

.vedio-desc{
    font-size: 14px;
    color: rgb(77,73,69);
    width: 280px;
    line-height: 22px;margin-bottom: 10px;

}

.apple-logo{
    margin-bottom: 3px;
}

.text-style{
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: red;
}

.span-example{
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.15s;
}

.span-example:hover{
    color: black;
    text-decoration: underline;
}